/* ============ Imports ============== */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:wght@700&display=swap');

/* ============ Variables ============== */
:root {
  --header-background-color: #3c3a39;
  --hero-backgroung-color: #1c1a19;
  --intro-background-color: #ff6b00;
}

/* ============ General Resets ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: unset;
}

ul li {
  list-style-type: none;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Crete Round', serif;
}

button {
  background-color: #ff6b00;
  width: 100%;
  width: inherit;
  border: 1px solid transparent;
  color: #fff;
  padding: 4%;
  margin-top: 0.5rem;
  font-size: 17px;
}

form button {
  align-self: center;
}

button:hover {
  cursor: pointer;
  color: #ff6b00;
  background-color: #fff5e1;
}

button:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

/* ============ End General Resets ============== */

/* ============ Header ============== */
header {
  background-color: var(--header-background-color);
  min-height: 8vh;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  color: #fff;
}

header .logo {
  font-size: larger;
}

.menu-icon:hover {
  cursor: pointer;
}

/* ============ End Header ============== */

/* ============ Hero Section ============== */
.hero-section {
  background:
    var(--hero-backgroung-color)
    url('./images/hero-image.svg') no-repeat right bottom;
  min-height: 92vh;
  padding: 5%;
  padding-right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  position: relative;
  color: #fff;
}

.hero-section .hero-intro {
  color: var(--intro-background-color);
  font-size: 56px;
  text-transform: capitalize;
  font-weight: 400;
}

.hero-section h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #fff5e1;
  font-weight: 700;
}

.hero-description {
  font-family: 'Poppins', sans-serif;
}

.hero-icons {
  width: fit-content;
  display: flex;
  gap: 20px;
  padding: 2% 3%;
}

/* ============ End Hero Section ============== */

/* ============ Works Section ============== */
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 5%;
}

.works-title {
  color: #1c1a19;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0 4rem 0;
}

.works-title h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: #212121;
}

.projects {
  display: grid;
  gap: 2rem;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.project-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.other-projects h3,
.other-projects p,
.other-projects ul {
  padding: 1% 5%;
}

.project .project-text h3 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
}

.contact p {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
  padding: 1%;
  margin: 2rem 0;
}

.about-me p {
  color: #f4f5f7;
  line-height: 24px;
}

.project .project-text p {
  line-height: 24px;
}

.other-projects .project-image {
  width: 100%;
}

.other-projects .project-text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-bottom: 0;
}

.first-project.project .project-text h3 {
  color: #091e42;
  margin-top: 1rem;
}

.first-project.project .project-text p {
  color: #091e42;
}

.project-text .languages {
  display: flex;
  gap: 4%;
}

.languages li {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 3% 4%;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.first-project .languages li {
  color: #091e42;
  border: 1px solid #8993a4;
}

.about-me button {
  align-self: flex-start;
}

.first-project .project-text button {
  width: fit-content;
}

.project-text button:hover {
  cursor: pointer;
  color: #ff6b00;
  background-color: #fff5e1;
}

/* ============ End Works Section ============== */

/* ============ About Section ============== */

.about {
  background-color: #1c1a19;
  margin-top: 3rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5%;
  background:
    var(--hero-backgroung-color)
    url('./images/about-me-illustration.svg') no-repeat right bottom;
  min-height: 80vh;
  padding-top: 30vw;
}

.about-me h2 {
  font-size: 70px;
  color: #ff6b00;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 88px;
}

footer .underline {
  background-color: #dfe1e6;
}

.about .underline {
  background-color: #fff;
  margin: 5px auto;
  width: 90%;
}

.skills {
  color: #fff;
  font-size: 22px;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  padding: 10rem 0;
}

.skills .title {
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: center;
}

.skills .title h4 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.4rem;
}

.lang .shape {
  transform: rotate(45deg);
}

.skill .shape {
  border-radius: 50%;
}

.skills .title .shape {
  height: 18px;
  width: 18px;
  background-color: #ff6b00;
}

.skills ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* ============ End About Section ============== */

/* ============ Contact Section ============== */

.contact {
  padding: 5%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

form input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 0.6rem;
}

form textarea {
  padding: 3%;
  color: #3c3a39;
  background: #fbf8f7;
  border: 1px solid #fbf8f7;
  font-style: italic;
}

/* ============ End Contact Section ============== */

/* ============ Footer Section ============== */

footer {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 2% 3%;
}

/* ============ End Footer Section ============== */
